@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab');

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
}
img {
	display: block;
	width: 100%;
	max-width: 100%;
}
h1,h3,h4,h5,h6{
	margin: 0;     
    font-family: 'Permanent Marker', cursive;
}
.container {
	width: 100%;
	margin: auto;
}
.container--flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.colum {
	width: 100%;
}
.ocultar {
	display: none;
}
/*----Estilos MIOS----*/
.fondo{
	position: absolute;
    z-index: 1500;
	top: 120px;
	width: 100%;
    margin : 1%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	
	
	
}
.secTicket{
	background: rgba(237, 151, 31,0.7);
	color: white;
	padding:  1%;
	text-align: left;

	margin : 1%;
	float:left;
	width : 45%;
	border : solid;
	border-color: black; 
	border-width : 2px;
}
.pSecTextTick{
	padding: 0;
	margin: 0;
}
.secTabla1{
	background: rgb(235, 142, 11);
}
.secTabla2{
	background: rgb(255, 193, 105);
}

.secDatosTicket{
	background: rgb(237, 151, 31);
	color: white;
	padding:  0%;
	text-align: left;
	width: 100%;
	margin : 0%;
	float:left;
	
	border : solid;
	border-color: black; 
	border-width : 2px;
}
.secOrigen{
	border-radius:5px;
	background: rgba(237, 151, 31,0.7);
	color: white;
	padding:  1%;
	text-align: center;

	margin : 1%;
	float:left;
	width : 45%;
	border : solid;
	border-color: black; 
	border-width : 2px;
}
.secDestino{
	border-radius:5px;
	background: rgba(237, 151, 31,0.7);
	color: white;
	padding:  1%;
	text-align: center;
	padding: 1%;
	margin : 1%;
	float:left;
	width : 45%;
	border : solid;
	border-color: black; 
	border-width : 2px;
}
.secLogin {

	border-radius:5px;
	background: rgba(237, 151, 31,0.7);
	color: white;
	padding:  1%;
	text-align: center;
	display: felx;
	/*flex-wrap: wrap;*/
	margin : 1%;
	/*float: left;*/
	width : 93%;
	border : solid;
	border-color: black; 
	border-width : 2px;
	align-items: center;
	vertical-align: middle;
}

.secLogin > *{
	color: white;
	margin:auto;
	padding: 0.5%;
	
	
}
.secNueva{
	border-radius:20px;
	background: rgba(237, 151, 31,0.7);
	color: white;
	text-align: center;

	margin : 1%;

	width : 20%;
	border : solid;
	border-color: rgb(150, 89, 3);
	border-width : 2px;
}
.secNueva:hover{
	color: rgb(253, 203, 132);
	
}

.non-selectable {
   -moz-user-select: none; 
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none; 
}

.filaCentrada{
	float: left;
	
}
.DP{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.D1{
	
	height: 30px;
	display: flex;
	align-items: center;
}

.D2{
	height: 30px;
	
	display: flex;
	align-items: center;
	margin-left: 5px;
}
/*--------------------------------*/

.main-header{
	width: 100%;
}
.logo{
	display: none;
	font-size: 2em;
	padding: 10px;
	font-weight: 100;
	color: white;
	position: relative;
	z-index: 1500;
}
.main-header [class*="icon-"]:before {
	position:  relative;
	top: 2px;
	right: 5px;
}



/*--------------------------------*/

.main-nav {
	width: 100%;
	position: relative;
	background: rgb(237, 151, 31,0.7);
	z-index: 2000;
	padding: 10px;
}
.icon-menu {
	display: block;
	color: white;
	height: 35px;
	width: 35px;
	margin-bottom: 5px;
}

.menu {
	position: absolute;
	top: 80px;
	background: rgba(0,0,0,0.8);
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	height: 0;
	overflow: hidden;
	transition: height .3s linear;
}

.menu_nav {
	left: 0;
	width: 20%;
}

.menu_login {
	right: 0;
	width: 50%;
}

.menu__item {
	cursor: pointer;
}
.menu__link {
	display: block;
	padding: 15px 25px;
	color: white;
	text-decoration: none;
}
.menu__link:hover {
	background: #ed971f;
}
.menu__link--select {
	background-color: #ed971f;
}
.mostrar_nav {
	height: 153px;
}
.mostrar_login {
	height: 400px;
}

/*--------------------------------*/
.login__content {
	position: absolute;
	z-index: 1500;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.01em 16px;
	text-align: center;
	width: 90%;

	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	background-color: rgba(200,200,200,0.3);
	border-color: rgba(255, 255, 255, 0.5);
	color: white;
	border-style: solid;
}
.login__txt {
	font-size: 1.5em;
	margin-left: 3%;
}
.login__link {
	font-size: 2.5em;
}

.login__link:hover {
	color: antiquewhite;
	cursor: pointer;
}
.login__link--select {
	text-shadow: 2px 2px rgba(0,0,0,0.2);
	color: #ed971f;
}
.login__input {
	margin-top: 3px;
	border: 0;
	padding: 4px 8px;
	display: block;
	width: 100%;
	border-radius: 10px;
	
}

.login__input2 {
	margin-top: 3px;
	border: 0;
	padding: 4px 8px;
	display: block;
	float:left;
	width: 30%;
	border-radius: 10px;
	vertical-align: middle;
}

.clsTxtLogin{
	float:left;
	margin-left: 15px;
	
}

.login__btn {
	padding: 5px 20%;
	text-decoration: none;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	color: black;
	border: 3px solid #555555;
	border-radius: 12px;
	margin-bottom: 10px;
	font-size: 1.2em;
}

.login__btn:hover {
	background-color: #555555;
	color: white;
}

.map {
	margin-top: 1%;
	border: 1px solid black;

	height: 250px;
}

/*--------------------------------*/

.banner {
	position: relative;
	margin-top: -125px;
}
.banner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 1000;
	top: 0;
}
.banner__img {
	width: 100%;
	height: 700px;
	object-fit: cover;
}


/*--------------------------------*/

.group--color .container {
	background: rgba(237, 151, 31,0.7);
	color: white;
	padding: 10px;
	text-align: center;
}

.main__title {
	margin: 5px 0;
	font-size: 1.8em;
	font-weight: 100;
}

.main__txt{
	margin-top: 0px;
	margin-bottom: 5px: 
}

.group__title {
	font-size: 1.5em;
}
.group__confirmar {
	margin: 10px;
	font-size: 1.3em;
}

.column__title{
	font-size: 1.3em;
}

.main__about__description .container {
	padding: 10px;
	text-align: center;
}



/*----------------Estilos del Footer----------------*/

.main-footer{
	background: #222;
	color: white;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 0.8em;
}

.copy{
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

@media screen and (min-width:485px) {
	.logo{
		display: block;
	}
	.column--33{
		width: 30%
	}
	.main__title{
		font-size: 2.1em;
	}
	.group__title {
		font-size: 1.8em;
	}
}
