<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>cgiMiercoles</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ControladorIniciarSesion</servlet-name>
    <servlet-class>controladores.ControladorIniciarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorIniciarSesion</servlet-name>
    <url-pattern>/IniciarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorConfigMillas</servlet-name>
    <servlet-class>controladores.ControladorConfigMillas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorConfigMillas</servlet-name>
    <url-pattern>/configMillas</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorTraerCiudades</servlet-name>
    <servlet-class>controladores.ControladorTraerCiudades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorTraerCiudades</servlet-name>
    <url-pattern>/traerCiudades</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorReporteCancelaciones</servlet-name>
    <servlet-class>controladores.ControladorReporteCancelaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorReporteCancelaciones</servlet-name>
    <url-pattern>/reporteCancelaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorBajaCiudad</servlet-name>
    <servlet-class>controladores.ControladorBajaCiudad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorBajaCiudad</servlet-name>
    <url-pattern>/bajaCiudad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorAltaCiudad</servlet-name>
    <servlet-class>controladores.ControladorAltaCiudad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAltaCiudad</servlet-name>
    <url-pattern>/altaCiudad</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ControladorAltaCiudadConBaja</servlet-name>
    <servlet-class>controladores.ControladorAltaCiudadConBaja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControladorAltaCiudadConBaja</servlet-name>
    <url-pattern>/altaCiudadConBaja</url-pattern>
  </servlet-mapping>
</web-app>