<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GRC</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/css/estilos.css" />
    <link rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/js/paraTodos.js"></script>
    <script src="static/js/index.js"></script>

</head>
<body>
    <nav class="main-nav">
        <div class="container container--flex">
            <img src="http://www.apacid.com.ar/imagenes/iconos/Menu.png" class="icon-menu" id="btnMenu"></img>
            <ul class="menu menu_nav" id="menu_nav">
                <li class="menu__item menu__link--select" name="/"><a class="menu__link">Inicio</a></li>
                <li class="menu__item" id="linkConsultar" name="/consulta"><a class="menu__link">Consultar Pasaje</a></li>
                <li class="menu__item" id="linkContacto" name="/"><a class="menu__link">Contacto</a></li>
            </ul>
            <div class="logo-container">
                <label class="logo">El mas rapido del oeste</label>
            </div>
            <img src="http://www.apacid.com.ar/imagenes/iconos/Menu.png" class="icon-menu" id="btnMenu2"></img>
            <div class="menu menu_login" id="menu_login">
                <div class="login__content">
                    <label class="login__link--select login__link" id="login">Login</label> 
                    <label class="login__link">|</label> 
                    <label class="login__link" id="registro">Registrar</label>
                    <div style="text-align: left;">
                        <label class="login__txt">DNI: </label>
                        <input class="login__input" id="dni" type="text"></p>
                        <div id="divRegistro" class="ocultar">
                            <div style="display: flex;flex-wrap: wrap;">
                                <div style="width: 30%;">
                                    <label class="login__txt">Nombre: </label>
                                    <input class="login__input" id="nombre" type="text"></p>
                                    <label class="login__txt">Apellido: </label>
                                    <input class="login__input" id="apellido" type="text"></p>
                                    <label class="login__txt">Nacionalidad: </label>
                                    <input class="login__input" id="nacionalidad" type="text"></p>
                                </div>
                                <div style="width: 66%; margin-left: 4%;">
                                    <label class="login__txt">Telefono: </label>
                                    <input class="login__input" id="telefono" type="text"></p>
                                    <label class="login__txt">Email: </label>
                                    <input class="login__input" id="email" type="text"></p>   
                                    <label class="login__txt">Direccion: </label>
                                    <input class="login__input" id="direccion" type="text"></p>
                                </div>
                            </div>
                        </div>
                        <label class="login__txt">Password: </label>
                        <input class="login__input" id="password" type="password"></p>
                    </div>                
                    <button class="login__btn" id="login-submit">Entrar</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="banner">
        <img src="https://incalake.com/galeria/admin/short-slider/BUSES/TITICACA-BOLIVIA/titicaca-bolivia-bus.png" alt="" class="banner__img">
        <div class="fondo" id="selecDestinos"> 
            <div class="secOrigen">
                <div class="container">
                    <h3 class="main__title">Origen</h3>
                    <p class="main__txt">Seleccione el origen de su viaje</p>
                    <select id="lstOrigen" onclick="clickListOrigen()">
                    </select>
                    <input type="date" id="idFechaViaje" name="trip-start"
                        value="2019-09-24"
                        min="2019-09-24" max="2020-12-31">
                    <div class="map" id="mapOrigen"></div>
                </div>
            </div>

            <div class="secDestino">
                <div class="container">
                    <h3 class="main__title">Destino</h3>
                    <p class="main__txt">Seleccione el destino de su viaje</p>
                    <select id="lstDestino" onclick="clickListDestino()"">
                    </select>
                    <div class="map" id="mapDestino"></div>
                </div>
            </div>
            <div id="divSecNueva" class="secNueva">
                <div class="container">
                    <h3 class="group__confirmar non-selectable">Siguiente</h3>
                </div>
            </div>    
        </div>

        <div class="ocultar" id="confirmViaje"> 
            <div class="secOrigen" id="confirmDatosTicket">
            </div>
            <div class="secDestino" id="ingreseDatos">
                <div class="container">
                    <h3 class="main__title">Ingrese datos</h3>
                    <div class="DP">
                        <div class="filaCentrada D1">
                            <p>DNI</p> 
                        </div>
                        <div class="D2">
                            <input id="dniCV" type="text">
                        </div>
                    </div><div class="DP">
                        <div class="filaCentrada D1">
                            <p>Nombre</p> 
                        </div>
                        <div class="D2">
                            <input id="nombreCV" type="text">
                        </div>
                    </div>
                    <div class="DP">
                        <div class="filaCentrada D1">
                            <p>Apellido</p> 
                        </div>
                        <div class="D2">
                            <input id="apellidoCV" type="text">
                        </div>
                    </div>
                    <div class="DP">
                        <div class="filaCentrada D1">
                            <p>Telefono</p> 
                        </div>
                        <div class="D2">
                            <input id="telefonoCV"  type="text">
                        </div>
                    </div>
                    
                    <div class="DP">
                        <div class="filaCentrada D1">
                            <p>Email</p> 
                        </div>
                        <div class="D2">
                            <input id="emailCV" type="text">
                        </div>
                    </div>
                    
                    <div class="DP">
                        <div class="filaCentrada D1">
                            <p>Direccion</p> 
                        </div>
                        <div class="D2">
                            <input id="direccionCV" type="text">
                        </div>
                    </div>
                    
                    <div class="DP">
                        <div class="filaCentrada D1">
                            <p>Nacionalidad</p> 
                        </div>
                        <div class="D2">
                            <input id="nacionalidadCV" type="text">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="secDestino" id="metodoPago">
                <div class="container">
                    <h3 class="main__title">Ingrese metodo de pago</h3>
                    <select id="metodoPagoCV">
                        <option>Dinero</option>
                        <option>Millas</option>
                    </select>
                </div>
            </div>
            <div class="secNueva" id="divConfirmarViaje">
                <div class="container">
                    <h3 class="group__confirmar non-selectable">Confirmar Viaje</h3>
                </div>
            </div>    
        </div>
        
    </div>

    <script type="text/javascript">
</script>




    <footer class="main-footer">
        <div class="container container--flex">
            <div class="column column--33">
                <h2 class="column__title">¿Por que Viajar con "El Mas rapido del OEste?</h2>
                <p class="column__txt">Nuestra empresa es reconocida a nivel nacional, por ofrecer los mejores "Sambuches de Mondiola", Asi no llegas con el estomago vacio al destino mas recondito elegido para tus vacaciones.... </p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Contamos con los Mejores Azafatos</h2>
                <p class="column__txt">Dos viajes por favor!!!!</p> 
                
            </div>
            <div class="column column--33">
                <h2 class="column__title">Y MAS!!</h2>
                <p class="column__txt">Te Regalamos una cerveza gratis, contamos con un shop de los mas basico, pero Shop al fin!</p>
                <p class="column__txt">Seccion de fumadores</p>
            </div>
            <p class="copy">2019 Derechos reservados</p>
        </div>
    </footer>
</body>
</html>