<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GRC</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/css/estilos.css" />
    <link rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/js/menu.js"></script>

    <script>
        var map = null
        var map2 = null
        $(document).ready(function(){
            console.log("FUNCIONO");
            $("#divSecNueva").click(confirmarViaje);

            $.ajax({
                url:'traerCiudades', 
                type:'POST',
                success: function(response){
                    console.log("Eh aqui las respuestas pequeño")
                    console.log(response)
                    var strIdCiudad = "0"
                    for(var i = 0; i < response[1].length; i++){
                        strIdCiudad = String(response[1][i].idCiudad)
                        $("#lstOrigen").append("<option class='opcOrigen' id=\"origen" + strIdCiudad + "\">" + response[1][i].nombre + "</option>")
                        $("#lstDestino").append("<option class='opcDestino' id=\"destino" + strIdCiudad + "\">" + response[1][i].nombre + "</option>")
                        
                        $("#origen"+strIdCiudad).data("latitud", response[1][i].latitud)
                        $("#origen"+strIdCiudad).data("longitud", response[1][i].longitud)
                        $("#destino"+strIdCiudad).data("latitud", response[1][i].latitud)
                        $("#destino"+strIdCiudad).data("longitud", response[1][i].longitud)
                        
                        L.marker([response[1][i].latitud, response[1][i].longitud]).addTo(map)
                            .bindPopup(response[1][i].nombre)
                        
                        L.marker([response[1][i].latitud, response[1][i].longitud]).addTo(map2)
                            .bindPopup(response[1][i].nombre)
                            
                        console.log("NC " + response[1][i].nombre)
                        console.log("Latitu " + response[1][i].latitud)
                        console.log("Longi " + response[1][i].longitud)
                        
                    }
                },
                error: function(response){
                    console.log(response)
                },

            });
            /*DESDE ACA*/
            map = L.map('mapOrigen').setView([-34.61, -58.37], 7);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    
                }).addTo(map);

            map2 = L.map('mapDestino').setView([-34.61, -58.37], 3);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    
                }).addTo(map2);

            /*Hasta ACA*/
            
        });
        
function clickListOrigen(){
    console.log("CLICK ORIGEN")
    var selector = document.getElementById('lstOrigen');
    var idSeleccionado = selector[selector.selectedIndex].id; 
    var lat = $("#"+idSeleccionado).data("latitud");
    var long = $("#"+idSeleccionado).data("longitud");

    map.setView([lat, long], 5);

    
}

function confirmarViaje(){
    $.ajax({
        url: 'confirmarViaje',
        type: 'POST',
        success: function(response){console.log("Cuando la cosa sale bien")},
        error: function(response){console.log("ERR")},

    });
}

function clickListDestino(){
    console.log("CLICK ORIGEN")
    var selector = document.getElementById('lstDestino');
    var idSeleccionado = selector[selector.selectedIndex].id; 
    var lat = $("#"+idSeleccionado).data("latitud");
    var long = $("#"+idSeleccionado).data("longitud");

    map2.setView([lat, long], 5);

    
}

$(document).on('click', ".opcDestino", function() {
    var selector = document.getElementById('lstDestino');
    var idSeleccionado = selector[selector.selectedIndex].id; 

    var lat = $("#"+idSeleccionado).data("latitud")
    var long = $("#"+idSeleccionado).data("longitud")

    var map = L.map('mapDestino').setView([lat, long], 13);

    L.marker([lat, long]).addTo(map)
    .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    .openPopup();

});
    
$(document).on('click', "#idConfirmarViaje", function() {
    var selector = document.getElementById('lstOrigen');
    var idSeleccionado = selector[selector.selectedIndex].id; 

    console.log("----------Origen-----------") 
    console.log($("#"+idSeleccionado).html())
    console.log("Latitud: " + $("#"+idSeleccionado).data("latitud"))
    console.log("Longitud: " + $("#"+idSeleccionado).data("longitud"))

    var selector = document.getElementById('lstDestino');
    var idSeleccionado = selector[selector.selectedIndex].id; 

    console.log("----------Destino----------") 
    console.log($("#"+idSeleccionado).html())
    console.log("Latitud: " + $("#"+idSeleccionado).data("latitud"))
    console.log("Longitud: " + $("#"+idSeleccionado).data("longitud"))

});
    </script>
</head>
<body>
    <nav class="main-nav">
        <div class="container container--flex">
            <img src="http://www.apacid.com.ar/imagenes/iconos/Menu.png" class="icon-menu" id="btnMenu"></img>
            <ul class="menu menu_nav" id="menu_nav">
                <li class="menu__item menu__link--select" name="/"><a class="menu__link">Inicio</a></li>
                <li class="menu__item" name="/consulta"><a class="menu__link">Consultar Pasaje</a></li>
                <li class="menu__item" name="/"><a class="menu__link">Contacto</a></li>
            </ul>
            <div class="logo-container">
                <h1 class="logo">El mas rapido del oeste</h1>
            </div>
            <img src="http://www.apacid.com.ar/imagenes/iconos/Menu.png" class="icon-menu" id="btnMenu2"></img>
            <div class="menu menu_login" id="menu_login">
                <div class="login__content">
                    <label class="login__link--select login__link" id="login">Login</label> 
                    <label class="login__link">|</label> 
                    <label class="login__link" id="registro">Registrar</label>
                    <div style="text-align: left;">
                        <label class="login__txt">DNI: </label>
                        <input class="login__input" id="dni" type="text"></p>
                        <div id="divRegistro" class="ocultar">
                            <div style="display: flex;flex-wrap: wrap;">
                                <div style="width: 30%;">
                                    <label class="login__txt">Nombre: </label>
                                    <input class="login__input" id="nombre" type="text"></p>
                                    <label class="login__txt">Apellido: </label>
                                    <input class="login__input" id="apellido" type="text"></p>
                                    <label class="login__txt">Nacionalidad: </label>
                                    <input class="login__input" id="nacionalidad" type="text"></p>
                                </div>
                                <div style="width: 66%; margin-left: 4%;">
                                    <label class="login__txt">Telefono: </label>
                                    <input class="login__input" id="telefono" type="text"></p>
                                    <label class="login__txt">Email: </label>
                                    <input class="login__input" id="email" type="text"></p>   
                                    <label class="login__txt">Direccion: </label>
                                    <input class="login__input" id="direccion" type="text"></p>
                                </div>
                            </div>
                        </div>
                        <label class="login__txt">Password: </label>
                        <input class="login__input" id="password" type="password"></p>
                    </div>                
                    <button class="login__btn" id="login-submit">Entrar</button>
                </div>
            </div>
        </div>
    </nav>

    <div class="banner">
        <img src="https://incalake.com/galeria/admin/short-slider/BUSES/TITICACA-BOLIVIA/titicaca-bolivia-bus.png" alt="" class="banner__img">
        <div class="fondo"> 
            <div class="secOrigen">
                <div class="container">
                    <h3 class="main__title">Origen</h2>
                    <p class="main__txt">Seleccione el origen de su viaje</p>
                    <select id="lstOrigen" onclick="clickListOrigen()">
                    </select>
                    <input type="date" id="idFechaViaje" name="trip-start"
                        value="2019-09-24"
                        min="2019-09-24" max="2020-12-31">
                    <div class="map" id="mapOrigen"></div>
                </div>
            </div>

            <div class="secDestino ">
                <div class="container">
                    <h3 class="main__title">Destino</h2>
                    <p class="main__txt">Seleccione el destino de su viaje</p>
                    <select id="lstDestino"  onclick="clickListDestino()"">
                    </select>
                    <div class="map" id="mapDestino"></div>
                </div>
            </div>
            <div id="divSecNueva" class="secNueva ">
                <div class="container">
                    <h3 class="group__confirmar non-selectable">Confirmar Viaje</h3>
                    <!--
                    <input type="button" id="idConfirmarViaje" value="Confirmate">
                    -->
                </div>
            </div>    
        </div>
        
    </div>

    <script type="text/javascript">
</script>




    <footer class="main-footer">
        <div class="container container--flex">
            <div class="column column--33">
                <h2 class="column__title">¿Por que Viajar con "El Mas rapido del OEste?</h2>
                <p class="column__txt">Nuestra empresa es reconocida a nivel nacional, por ofrecer los mejores "Sambuches de Mondiola", Asi no llegas con el estomago vacio al destino mas recondito elegido para tus vacaciones.... </p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Contamos con los Mejores Azafatos</h2>
                <p class="column__txt">Dos viajes por favor!!!!</p> 
                
            </div>
            <div class="column column--33">
                <h2 class="column__title">Y MAS!!</h2>
                <p class="column__txt">Te Regalamos una cerveza gratis, contamos con un shop de los mas basico, pero Shop al fin!</p>
                <p class="column__txt">Seccion de fumadores</p>
            </div>
            <p class="copy">2019 Derechos reservados</p>
        </div>
    </footer>
</body>
</html>
