<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>GRC</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="static/css/estilos.css" />
    <link rel="shortcut icon" type="image/x-icon">
    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/js/menu.js"></script>
    <script type="text/javascript">
        
        var dni = leerCookie("idUsuarioLogueado");
        $(document).ready(function(){
            console.log(dni)
            traerPasajes(dni);

            $.ajax({
                url:'traerCiudades', 
                type:'POST',
                success: function(response){
                    var strIdCiudad = "0"
                    $("#idFiltroOrigen").append("<option class='opcOrigen' id=\"filtroOrigenNULL\"> Seleccionar </option>")
                    $("#idFiltroDestino").append("<option class='opcDestino' id=\"filtroDestinoNULL\"> Seleccionar </option>")
                    for(var i = 0; i < response[1].length; i++){
                        strIdCiudad = String(response[1][i].idCiudad)
                        $("#idFiltroOrigen").append("<option class='opcOrigen' id=\"filtroOrigen" + strIdCiudad + "\">" + response[1][i].nombre + "</option>")
                        $("#idFiltroDestino").append("<option class='opcDestino' id=\"filtroDestino" + strIdCiudad + "\">" + response[1][i].nombre + "</option>")
                        $("#filtroOrigen"+strIdCiudad).data("idCiudad", strIdCiudad)
                        $("#filtroDestino"+strIdCiudad).data("idCiudad", strIdCiudad)
                    }
                },
                error: function(response){
                    console.log(response)
                },

            });

        });

        $(document).on('click', "#idFiltroBuscar", function() {
            var PidCOrigen = document.getElementById('idFiltroOrigen');
            var PidOrigenT = PidCOrigen[PidCOrigen.selectedIndex].id; 
            var PidOrigen = $("#"+PidOrigenT).data("idCiudad");

            var PidCDestino = document.getElementById('idFiltroDestino');
            var PidDestinoT = PidCDestino[PidCDestino.selectedIndex].id; 
            var PidDestino = $("#"+PidDestinoT).data("idCiudad");


            if (PidOrigen == null){
                PidOrigen = "Seleccionar"
            }
            if (PidDestino == null){
                PidDestino = "Seleccionar"
            }


            console.log(PidOrigen)
            console.log(PidDestino)
            $.ajax({
                url : "buscarPasajes",
                type : "POST",
                data : {
                    dni : dni,
                    origen : PidOrigen,
                    destino : PidDestino,
                    desde : $("#idFiltroDesde").val(),
                    hasta : $("#idFiltroHasta").val(),
                    codigo : $("#idFiltroCodigo").val()
                },
                success: function(response){
                    console.log(response);
                    var texthtml = ""
                    if (response.length > 0){
                        for(var i = 0; i < response.length; i++){
                            texthtml = generarTicket(response[i], texthtml);
                        }
                    }else{
                        texthtml = "<div class='secTicket'>"                        +
                                        "<div class='container'>"                   +   
                                            "<h3 class='main__title'>Pasaje</h3>"   +
                                            "<div>"                                 +
                                                "<h4> Pasaje no encontrado </h4>"   +
                                            "</div>"                                +
                                        "</div>"                                    +
                                    "</div>";
                    }
                    $("#pasajes").html(texthtml);
                },
                error: function(response){
                    alert(response.responseJSON.error);
                }
            });
        });
    </script>
</head>
<body>
    <nav class="main-nav">
        <div class="container container--flex">
            <img src="http://www.apacid.com.ar/imagenes/iconos/Menu.png" class="icon-menu" id="btnMenu"></img>
            <ul class="menu menu_nav" id="menu_nav">
                <li class="menu__item" name="/"><a class="menu__link">Inicio</a></li>
                <li class="menu__item menu__link--select" name="/pasajes"><a class="menu__link">Consultar Pasajes</a></li>
                <li class="menu__item" name="/"><a class="menu__link">Cambiar informacion</a></li>
            </ul>
            <div class="logo-container">
                <label class="logo">El mas rapido del oeste</label>
            </div>
            <img src="http://www.apacid.com.ar/imagenes/iconos/Menu.png" class="icon-menu" id="btnMenu2"></img>
            <div class="menu menu_login" id="menu_login">
                <div class="login__content">
                    <label class='login__link--select login__link' id='login'>Salir</label>
                </div>
            </div>
        </div>
    </nav>


    <div class="banner">
        <img src="https://incalake.com/galeria/admin/short-slider/BUSES/TITICACA-BOLIVIA/titicaca-bolivia-bus.png" alt="" class="banner__img">
        
        <div class="fondo">
            <div class="secOrigen">
                Origen:
                <select id="idFiltroOrigen" onclick=""></select>
                Destino:
                <select id="idFiltroDestino" onclick=""></select>
                Desde:
                <input type="date" id="idFiltroDesde" min="2017-09-24" max="2020-12-31">
                Hasta:
                <input type="date" id="idFiltroHasta" min="2017-09-24" max="2020-12-31">
                Codigo: 
                <input class="" id="idFiltroCodigo" type="text">
                <button class="" id="idFiltroBuscar">Buscar</button>

            </div>
            <div class="" id="pasajes">
            </div>
        </div>
    </div>


    <footer class="main-footer">
        <div class="container container--flex">
            <div class="column column--33">
                <h2 class="column__title">¿Por que GRC?</h2>
                <p class="column__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus nam eaque corporis similique doloremque quidem voluptates voluptatum, pariatur, cum labore laudantium necessitatibus modi optio, molestiae aspernatur consequuntur unde tenetur rem!</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Blablabla</h2>
                <p class="column__txt">Pos algo</p>
                <p class="column__txt">Algo</p>
                <p class="column__txt">Mas algo</p>
                <p class="column__txt">Yep, algo</p>
            </div>
            <div class="column column--33">
                <h2 class="column__title">Y MAS!!</h2>
                <p class="column__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi maiores, ab, sapiente labore laboriosam iure cum minima consectetur cupiditate velit aut hic voluptas, nisi! Quidem obcaecati voluptate totam, maiores mollitia.</p>
            </div>
            <p class="copy">2019 Derechos reservados</p>
        </div>
    </footer>
</body>
</html>
